@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

/*FORMATAÇOES GERAIS*/
body {
    background: #000fff;
    color: #fff;
}

#container {
    border: 1px solid red;
}

/*FORMATAÇÕES DE CABEÇALHO*/
#header {
    border: 1px solid yellow;
    font-family: Orbitron;
    height: 110px;
}

#gamora {
    border: 1px solid red;
    font-weight: 700;
    font-size: 80px;
    margin: 8px 24px;
    float: left;
}

#navbar {
    border: 1px solid red;
    float: right;
    width: 600px;
    margin: 30px 24px 10px auto;
}

/*FORMATAÇÕES DE MENU*/
    ul {
        list-style: none;
        float: left;
    }

    ul li {
        float: left;
    }

    ul a {
        display: block;
        padding: 0 3.5em;
        line-height: 2em;
        text-decoration: none;
        color: #fff;
    }

    ul a:hover {
        color: #c4c4c4;
    }

/*FORMATAÇOES DE CONTEUDO*/

#contents{
    border: 1px solid red;
    height: 630px;
}

#img {
    border: 1px solid yellow;
    width: 800px;
    height: 600px;
    position: absolute;
    margin: 0px 23px;
}

#resume {
    border: 1px solid green;
    float: right;
    width: 400px;
    height: 600px;
}